.serviceContainer {
  margin-top: 60px;
  max-width: 90rem;
  margin-inline: auto;
  padding: calc(var(--spacing) * 4);
}

.serviceDescriotion {
    display: flex;
    gap: 20px;
}

.lableContainer {
    width: 178px;
    height: 51px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #B9FF66;
}

.lableContainer h2 {
    font-size: 40px;
}

.servicesBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  margin-top: 50px;
}