
.sectionLabel {
    display: flex;
    gap: 20px;
}

.label {
    width: 178px;
    height: 51px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #B9FF66;
}

.label h2 {
    font-size: 40px;
}


.desc {
    max-width: 550px;
    text-align: left;
}