.commonButton {
  width: 264px;
  height: 68px;
  padding: 20px 35px 20x 35px;
  background-color: #191a23;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  border-radius: 14px;
}

.commonButton:hover {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  transition: 0.2s;
}
