.heroContainer {
  margin-top: 10px;
  display: flex;
  max-width: 90rem;
  margin-inline: auto;
  flex-wrap: wrap;
  padding: calc(var(--spacing) * 4);
  gap: 2rem;
}

.consultSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.consultSection h1 {
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 1.2;
}

.consultSection p {
  font-size: 1rem;
  margin-top: 1rem;
}

.bannerSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.bannerSection img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 1024px) {
  .consultSection h1 {
    font-size: 2.5rem;
  }

  .consultSection {
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
  }

  .consultSection,
  .bannerSection {
    padding: 1.5rem 0;
    align-items: center;
  }

  .consultSection h1 {
    font-size: 2rem;
  }

  .consultSection p {
    font-size: 0.95rem;
  }
}
